{% extends "base.html" %} {% block titulo %} Acerca de... {% endblock %} {% block contenido_principal %}

<h2 style="padding-bottom:10px;">Nosotros</h2>
<p><b>DPIU CAPITAL AL</b> CONSTITUYE LA FIRMA MÁS ACTIVA EN INVERSIONES EN SITUACIONES ESPECIALES DE TAMAÑO MEDIO</p>
<ul>

    <li>DPIU CAPITAL ha realizado <b>129 inversiones</b> en los ultimos cuatro años posicionándose como la firma líder en situaciones especiales de tamaño medio en España.</li>
    <li>DPIU CAPITAL cuenta con el equipo más experimentado en España para invertir en situaciones especiales
    </li>
    <li>DPIU CAPITAL goza de claras ventajas competitivas en el cierre de la transacción dada su capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la estructura de la operación (participaciones, precios, deuda, etc.) y
        las garantías aportadas por los vendedores.</li>

</ul>
<p>
    Importantes grupos financieros e industriales han confiado en <b>SHERPA DPIU CAPITAL</b> para desinversiones de parte de sus activos Una única labor: la gestión de activos financieros <b>DPIU CAPITAL</b> opta por gestionar una gama limitada de estrategias
    para lograr una mayor revalorización del capital de sus clientes a lo largo del tiempo. </p>
<p>
    En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas. Los productos insignia de la casa, <b>DPIU CAPITAL Investissement, DPIU CAPITAL Patrimoine y DPIU CAPITAL Securité</b>, se lanzaron en 1989, con una marcada
    orientación internacional y hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar su resistencia a largo plazo, especialmente en periodos muy bajistas. Esa solidez corrobora la capacidad de DPIU CAPITAL para compaginar
    rentabilidad y gestión de riesgos.
</p>
<p>
    NUESTRO EQUIPO ESTÁ FORMADO POR DESTACADOS EJECUTIVOS PROCEDENTES DE FIRMAS DE CONSULTORÍA, PUESTOS DIRECTIVOS, CAPITAL RIESGO Y BANCA DE INVERSIÓN, TODOS ELLOS CON UNA DILATADA EXPERIENCIA EN EL SECTOR DE LA REESTRUCTURACIÓN EMPRESARIAL.
</p>
<p>ADEMÁS, NOS ASOCIAMOS CON EQUIPOS GESTORES EN LA EJECUCIÓN DE LOS PLANES DE VIABILIDAD Y DE REESTRUCTURACIÓN DE LAS COMPAÑÍAS OBJETIVO.
</p>
<h3 style="padding-bottom:10px;">EL OBJETIVO</h3>
<ul>
    <li>Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos estratégicos, operativos o financieros pero que cuenta con ventajas competitivas sostenibles y con posiciones relevantes en sus mercados.</li>
    <li>Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en coinversión.</li>
    <li>Enfoque multi-sectorial excepto sector financiero e inmobiliario. Interés especial por oportunidades de consolidación sectoriales (buy and build).</li>
    <li>Participación siempre con control de la gestión (mayoritaria o minoritaria) </li>
</ul>
<p>METODOLOGÍA EXPERIENCIA Y CREACIÓN DE VALOR NUESTRA FILOSOFÍA SE BASA EN APORTAR NO SOLO CAPITAL SINO FUNDAMENTALMENTE GESTIÓN COMO PALANCA DE CREACIÓN DE VALOR EN LAS INVERSIONES: </p>
<p>El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de transformación de compañías implementada con éxito en más de 150
    empresas. Los aspectos fundamentales en los que se sustenta son:</p>
<ul style="padding-bottom:20px;">
    <li>Definición y ejecución del Plan de 100 y 200 días.</li>
    <li>Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con nuestros propios ejecutivos de gestión.</li>
    <li>Planes de crecimiento mediante internacionalización. </li>
    <li>Planes de adquisiciones para consolidar el sector.</li>
    <li>Habitualmente todas nuestras participadas adquieren al menos otra compañía de su industria.</li>
    <li>Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y liquidez.</li>
    <li>Plan estratégico, reorientación estratégica y operativa del negocio</li>
</ul>
{% endblock %}