{% extends "base.html" %} {% block titulo %} Crear tarjeta {% endblock %} {% block scripts %}

<script>
    function mostrarLimite() {
        var div = document.getElementById("limite");
        if (document.getElementById("quieroLimite").checked) {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>

<script>
    function tipoCuenta() {
        var limite = document.getElementById("quieroLimite");
        var limitetxt = document.getElementById("limit");

        var cont = false;

        if (limite.checked && ($("#limit").val() === '0' || $("#limit").val() === '')) {
            document.getElementById("eligeLim").style.display = "block";
        } else {
            document.getElementById("eligeLim").style.display = "none";
            cont = true;
        }
    	var pathArray = location.href.split( '/' );
    	var id = pathArray[pathArray.length-2];
    	document.getElementById("form").action = "/account/"+id+"/newCard/";
        return cont;
    }
</script>


{% endblock %} {% block contenido_principal %}

<form id="form" class="form-horizontal" method="post" action="/account//newCard/" onsubmit="return tipoCuenta()">

    <div>

        <div class="radio">
            <h2> Tipo de tarjeta </h2>
            <label><input type="radio" value="credito" name="accountType" checked="checked">Credito</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="debito" name="accountType">Debito</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="monedero" name="accountType">Monedero</label>
        </div>

        <div class="alert alert-danger" id="eligeTg" style="display:none;">
            Elija un tipo de tarjeta
        </div>

        <div class="checkbox">
            <label><input type="checkbox" id="quieroLimite" value="" onchange="mostrarLimite()" onclick="mostrarLimite()">Deseo tener un limite en la tarjeta</label>
            <div id="limite" style="display:none;">Limite: <input type="number" name="limit" id="limit"> &euro;</div>
            <div class="alert alert-danger" id="eligeLim" style="display:none;">
                Introduzca un limite
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Crear tarjeta</button>
        </div>
    </div>
</form>
{% endblock %}