{% extends "base2.html" %}


{% block titulo %} Inversores {% endblock %}  

{% block scripts %}
<script>
    function datos(){


    var empresa = document.getElementById('empresa');
    var llamadas = document.getElementById('llamadaSi');
     if (empresa.checked) {
        document.getElementById("datosEmp").style.display = "block";
        document.getElementById("nombreEmp").required = true;
        document.getElementById("paisEmp").required = true;
        document.getElementById("puestoEmp").required = true;    
    }
     if (!empresa.checked) {
        document.getElementById("datosEmp").style.display = "none";
        document.getElementById("nombreEmp").required = false;
        document.getElementById("paisEmp").required = false;
        document.getElementById("puestoEmp").required = false;
    }

    if(llamadas.checked){
        document.getElementById("llamadas").style.display = "block";
        document.getElementById("phone").required = true;
        document.getElementById("time").required = true;
        document.getElementById("dia").required = true;
    }

    if(!llamadas.checked){
        document.getElementById("llamadas").style.display = "none";
        document.getElementById("time").required = false;   
        document.getElementById("time").required = false;
        document.getElementById("dia").required = false;
    }


}


    function onSubmit(){
        var minimo = document.getElementById("minimo");
        var maximo = document.getElementById("maximo");

        if(parseInt(minimo.value) > parseInt(maximo.value)){
            document.getElementById("minAl").style.display = "block";
            return false;
        }else{
            document.getElementById("minAl").style.display = "none";
            var phone = document.getElementById("phone");
             if(phone.value < 99999999 || phone.value === ''){
                        document.getElementById("telef").style.display="block";
                        return false;
                    }else{
                        document.getElementById("telef").style.display="none";
                        if(document.getElementById('llamadaSi').checked){
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth()+1;
                            var yyyy = today.getFullYear();

                            if(dd<10) {
                                dd = '0'+dd
                            } 

                            if(mm<10) {
                                mm = '0'+mm
                            } 

                            today = yyyy+"-"+ mm + "-"+dd;
                            if($("#dia").val() <= today){
                                document.getElementById("diaAl").style.display="block";
                                return false;
                            }else{
                                 document.getElementById("diaAl").style.display="none";
                            }
                    }
                }
        }
        return true;
    }
</script>


{% endblock %}

{% block contenido_principal %} 
<div class="container">
    <h2>¿Qué necesita saber sobre nosotros?</h2>
    <p>Pensar y hacer las cosas de otra manera nos ha permitido ser uno de los referentes de banca retail en España con más de 3,5 millones de clientes particulares, así como el primer banco 100% móvil de nuestro país. Siguiendo siempre una estrategia centrada
        en el cliente, hemos crecido producto a producto hasta convertirnos en un banco completo, capaz de cubrir cualquier necesidad financiera personal o profesional.</p>
    <p>Y todo ello, con el orgullo de ser por 5º año consecutivo el banco el que mejor hablan sus clientes y que más recomendarán, según la consultora EMO Insights International.</p>

    <form class="form-horizontal" method="post" action="/registrarse" onsubmit=" return onSubmit()" style="padding-top: 70px;">
        <h3 style="padding-bottom:40px;">Si desea formar parte de nuestra gran familia rellene los siguientes datos</h3>


        <div class="form-group">
        <label class="control-label col-sm-2">Tratamiento: </label>
            <div class="radio col-sm-1">
                <label><input type="radio" name="tratamiento" value="sr" checked="checked">Sr</label>
                <label><input type="radio" name="tratamiento" value="sra">Sra</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Nombre completo:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" required>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" id="surname" placeholder="Apellidos" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pais">País:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="pais" id="pais" placeholder="Pais" required>
            </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2">Tipo de cliente: </label>
            <div class="radio col-sm-1">
                <label><input type="radio" name="tipo" id="particular" checked="checked" onchange="datos()">Particular</label>
                <label><input type="radio" name="tipo" id="empresa" onchange="datos()">Empresa</label>
            </div>
        </div>

    <div id="datosEmp" style="display:none;">
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombreEmp">Nombre de la empresa:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="nombreEmp" id="nombreEmp" placeholder="Nombre">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="puestoEmp">Puesto ocupado en la empresa:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="puestoEmp" id="puestoEmp" placeholder="Puesto en la empresa">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="paisEmp">País de la empresa:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="paisEmp" id="paisEmp" placeholder="Pais">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5" >¿Se encuentra la empresa diversificada en más de un país?:</label>
            <div class="radio col-sm-1">
                <label><input type="radio" name="diver" value="si" checked="checked">Sí</label>
                <label><input type="radio" name="diver" value="no">No</label>
            </div>
                <label class="control-label col-sm-2" for="paisEmp">Sector de la empresa</label>
            <div class="col-sm-2">
                <select>
                  <option value="inversiones">Inversiones</option>
                  <option value="bancaprivada">Banca privada</option>
                  <option value="otros">Otros</option>
                </select>
            </div>
        </div>

        <div class="form-group">

        </div>


    </div><!-- Datos de la empresa-->


        <div class="form-group">
            <label class="col-sm-4" >¿Dispone de inversión en otras empresas?:</label>
            <div class="radio col-sm-1">
                <label><input type="radio" name="inver" value="si">Sí</label>
                <label><input type="radio" name="inver" value="no" checked="checked">No</label>
            </div>
        </div>

       <div class="form-group">
            <label class="control-label col-sm-2">Capital disponible</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="minimo" id="minimo" placeholder="Mínimo" required>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="maximo" id="maximo" placeholder="Máximo" required>
            </div>
            <div class="alert alert-danger" id="minAl" style="display:none;">
                El importe máximo debe ser mayor que el importe mínimo
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Disponibilidad del capital:</label>
            <div class="col-sm-4">
                <select>
                  <option value="inversiones">Inmediato</option>
                  <option value="bancaprivada">Más de un mes</option>
                  <option value="otros">Más de seis meses</option>
                  <option value="otros">Más de un año</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2" >¿Concretar llamada?:</label>
            <div class="radio col-sm-1">
                <label><input type="radio" name="llamada" id="llamadaSi" value="si" onchange="datos()">Sí</label>
                <label><input type="radio" name="llamada" id="llamadaNo" value="no" checked="checked" onchange="datos()">No</label>
            </div>
        </div>

<div id="llamadas" style="display: none;">
        <div class="form-group">
            <label class="control-label col-sm-2">Telefono:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="phone" id="phone" placeholder="666666666">
            </div>
            <div class="alert alert-danger" id="telef" style="display:none;">
                Introduzca un numero de telefono correcto
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Día preferente para la llamada:</label>
            <div class="col-sm-2">
                <input type="date" name="dia" id="dia">
            </div>
            <div class="alert alert-danger" id="diaAl" style="display:none;">
                La fecha debe elegida debe ser a partir de mañana.
            </div>
            <label class="control-label col-sm-3">Hora preferente para la llamada:</label>
            <div class="col-sm-4">
                <input id="time" type="time">
            </div>
        </div>
</div>

</div>
        <div class="form-group" action="#">
            <div class="col-sm-4 form-group" style="float:  right;">
                <button type="submit" class="btn btn-success" onclick="return onSubmit()">Registrarse</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}